
<h1>Last 10 Projects</h1>
<hr>

  <ul>
    <% @projects.each do |project| %>
    <li>
      <%= project.name + ": "%>
      <% if project.description.present? %>
        <%= project.description %>
        <a href ="/projects/<%= project.id %>">Show project</a>
      <% end %>
    </li>
    <% end %>
  </ul>
