
<h1>Last 10 Projects</h1>
<hr>

  <ul>
    <% @projects.each do |project| %>
    <li>
      <%= project.name + ": "%>
      <% if project.description.present? %>
        <%= project.description %>
        <a href ="/projects/<%= project.id %>">Show project</a>
      <% end %>
    </li>
    <% end %>
    <br>
    <h3><a href="/projects/new">Create new project >></a></h3>
  </ul>
