<h1>Welcome to this timetracking tool!</h1>
<img src="/assets/Dramatic_Glasses.gif" alt="Kid removing his sunglasses epically" class= "image">
<%= image_tag "Dramatic_Glasses.gif", alt: "Kid removing his sunglasses epically", class: "image" %>
<p>Ironhack powered</p>
